SPRING_PROFILES_ACTIVE=lab
SERVER_PORT=4000
SPRING_JPA_HIBERNATE_DDL_AUTO=update
REDIS_HOST=lab-shopping-cart-valkey.dcfrlf.ng.0001.apse1.cache.amazonaws.com
REDIS_PORT=6379
INVENTORY_SERVICE_URL=http://inventory:5000
